*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    width: 100%;
    word-spacing: 5px;
    margin-top: 5px;
}
section a{
    
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    transition: all .7s ease;
}
section .log{
    background-color: aquamarine;
    color: #000;
}
section .sign{
    background-color: aquamarine;
    color: #000;
}
.log:hover{
    background-color: #00b894;
    color: black;
}
.sign:hover{
    background-color: #00b894;
    color: #000;
}
ul{
    text-align: right;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    color: #000;
    font-weight: 100;
    font-size: 25px;
    text-decoration: none;
}
.left{
    width: 40%;
    float: left;
    padding: 5px;
}
.row-col::after{
    content: "";
    display: table;
    clear: both;
}
.right{
    width: 55%;
    float: right;
}
nav:hover{
    background-color: cornsilk;
    color: whitesmoke;
}
p{
    text-align: center;
}
.container{
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    width: 93%;
    height: 70vh;
    margin: 40px;
    background-color: cornsilk;
}
input[type="text"],input[type="email"]{
    width: 95%;
    height: 8vh;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: aliceblue;
    font-size: 18px;
    
}
textarea{
    width: 95%;
    height: 35vh;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: aliceblue;
    font-size: 18px;
}
.btn1,.btn2{
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 10px;
    letter-spacing: 5px;
    transition: all .5s ease;
}
.btn1:hover{
    background-color: #000;
    color: #fff;
}
.btn2:hover{
    background-color: #000;
    color: #fff;
}
.ee{
    background-color: cornsilk;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-facebook{
    background-color: blue;
}
.fa-instagram{
    background-color: rgb(213, 49, 87);
}
.fa-google-plus{
    background-color: aqua;
}
.fa-twitter{
    background-color: darkblue;
}
.fa-telegram{
    background-color: bisque;
}
.fa-whatsapp{
    background-color: #00b894;
}
h3{
    text-align: center;
}
footer{
    text-align: center;
    background-color: grey;
}